<?xml version="1.0" encoding="utf-8"?>
<manifest 	xmlns:android="http://schemas.android.com/apk/res/android"
      		package="com.vroom"
      		android:versionCode="1"
      		android:versionName="1.0">
    <uses-sdk 	android:minSdkVersion="8" 
    			android:targetSdkVersion="8"/>
    
    <!-- Ask for Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- End Permissions -->
	
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
    
    	<!-- Start Main Activity -->
        <activity 	android:name=".Vroom"
                  	android:label="@string/app_name">
            <intent-filter>
                <action 	android:name="android.intent.action.MAIN" />
                <category 	android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- End Main Activity -->
        
        <!-- Start Monitor Activity -->
        <activity	android:name=".Monitor"
        			android:label="@string/monitor_title">
        </activity>
        <!-- End Monitor Activity -->
        
        <!-- Start Repair Activity -->
        <activity 	android:name=".Repair"
        			android:label="@string/repair_title">
        </activity>
        <!-- End Repair Activity -->
        
        <!-- Start Settings Activity -->
        <activity 	android:name=".PersonalSettings"
        			android:label="@string/personal_settings_title">
        </activity>
        <activity	android:name=".DeviceSettings"
        			android:label="@string/device_settings_title"></activity>
        <!-- End Settings Activity -->
        
        <!-- Start Upload Activity -->
        <activity 	android:name=".Upload"
        			android:label="@string/upload_title">
        </activity>
        <!-- End Upload Activity -->
        
        <!-- Start Discovery Activity -->
        <activity android:name=".DeviceListActivity"
        			android:label="@string/deviceActivityTitle">
        </activity>
        <!-- End Discovery Activity -->

    </application>
</manifest>